<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<header>
    <img src=vettel2.jpg><br>
    <a style="font-family:verdana;" style="font-size:180%;" href="http://localhost:8080/">Home</a>
</header>

<body>
    <form action="/data" method="POST">
        Sender:
        <input type="text" name="sender" /> </br>
        Address:
        <input type="text" name="address" /> </br>
        Weight:
        <input type="number" name="weight" /> </br>
        Fragile:
        <input type="checkbox" name="fragile"/> </br>
        Shipment Type:
        <select name="type" id="type">
            <option value="Standard">Standard</option>
            <option value="Express">Express</option>
          </select>
        <button>Submit</button>
    </form>
</body>

</html>